{% load inlinecss %}
{% inlinecss "email.css" %}
<html>
{#	<body>#}
{#        <div>#}
{#            <p><b><br>Dear,<br> {{ content.current_user }}<br></b> Your email is <b>{{ content.current_user }}</b> and Reset Url is: <a href="{{content.reset_password_url}}"><button>Click</button><br></a>Please keep this information secure.</p>#}
{#            <p><i>Thanks for joining<br>Family of wizdoor<br>Be Stronger, Stay Together<br>www.wizdoor.com</i></p>#}
{#        </div>#}
{#    </body>#}


    <body>
		<h1><span style = "color:#4184F3 ">W</span><span style = "color:#EA4739 ">I</span><span style = "color:#FBBE0E ">Z</span><span style = "color: #4184F3">D</span><span style = "color:#4DB268 ">oo</span><span style = "color: #EA4739">r</span></h1>
		<h2>Welcome to the magic world of wizdoor.</h2>
        <h3>Dear</h3>
		<p><span>{{ content.current_user }}</span></p>
		<span>Click the button below for reset your password</span><br>
        <a href="{{content.reset_password_url}}"><button>Reset</button></a>
	</body>
</html>
{% endinlinecss %}